.deliveryCon {
  display: flex;
  margin-top: 10px;
}

.delivery {
  flex: 4;
}

.lineChart {
  width: 40vw;
}

.doughnutChart {
  width: 20vw;
}

.chartdiv {
  display: flex;
  flex-direction: row;
}
