.mainSection{
  display:flex;
  justify-content: center;
}
.contact{
  display:flex ;
  align-items: center;
  justify-content: space-between;
  width:87%;
}
.leftSection{
  margin-top: 20px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  flex-direction: column;
}

.contact-details img{
  /*flex:1 1 40rem;*/
  width:500px;
  height: 400px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
/*.content-details .details{
  margin: 14px;
  text-align: center;
}*/
.content-details i{
  font-size: 30px;
  color:#2e8f17;
  margin-bottom: 10px;
}
.content-details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content-details .text-one,
.content-details .text-two{
  font-size: 14px;
  color: #e9e9f3;
}
.mapouter iframe{
  margin-top: 12px;
  width:500px;
  height: 250px;

}
.formSection{
  width:75%;
  
}
.formSection form{
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.formSection form{
  flex:1 1 40rem;
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom:4rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .3rem;
  background:#fff;
  width:500px;
  height: 500px;
  margin-top: 20px;
  margin-left: 45px;
  
}

.contact-heading{
  font-size: 23px;
  font-weight: 600;
  color:#2e8f17; 
  padding-top: 10px;
  /*text-align: left;
  padding:0;
  padding-bottom:none;
  padding-top: 0.3rem;
  font-size: 1.9rem;
  color:#2e8f17;*/
}

.contact-inputBox{
  /*position: relative;
  height: 50px;
  width: 100%;
  margin: 12px 0;*/
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.contact-inputBox input, .contact-inputBox textarea{
  /*width:100%;
  background:none;
  color:#666;
  margin:1rem 0;
  padding:.4rem 0;
  font-size: 1.2rem;
  border-bottom: .1rem solid rgba(18, 247, 67, 0.1);
  text-transform: none;*/
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.contact-inputBox textarea{
  /*resize: none;
  height: 8.5rem;*/
  padding-top: 6px;
}

.contact-inputBox label{
  position: absolute;
  top:1.7rem; left:0;
  font-size: 1.4rem;
  color:black;
  transition: .2s linear;
}


.contactbtn{
  /*text-align: center;
  border-radius: 5rem;
  background:linear-gradient(180deg, #80b953 2.08%, #2c9984 95.83%);
  font-size: 1.5rem;
  color:white;
  cursor: pointer;
  transition: all .2s linear;
  width:12rem; */

  display: inline-block;
  margin-top: 12px;
}

.formSection .contact-button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #2e8f17;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-button input[type="submit"]:hover{
  background: #2e8f17;
}
 .formSection{
  width: 100%;
  margin-left: 0;

 }

 .complaints-button{
  display: inline-block;
  margin-top: 16px;
 }
 
 .cmpbtn{

  color:black;
  /*padding: 8px 16px;*/
  background-color: white;
  font-size: 14px;
  outline: none;
  border: none;
  padding-left: 2px;
  padding-top: 20px;
  border-radius: 6px;
  
  cursor: pointer;
  transition: all 0.3s ease;
  
  
  
}

