.userListCon{
    display: flex;
    margin-top: 10px;
    background-color: #ffffff;
}
.userList{
    flex: 4;
    background-color:#ffffff;
}
.userListUser{
    display: flex;
    align-items: center;

}
.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{

    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    height: fit-content;
}

.userListDelete{
    color: red;
    cursor: pointer;
    
}
.userList .pageShift{
    display:flex;
}
.userList .pageShiftButton_Active  Button{
    background-color: indianred;
}

.userList .pageShiftButton  Button{
    background-color: rgb(252, 198, 198);
}
.link{
    text-decoration: none;
    color: inherit;

}

.user-list-table-farmer{
    background:#ffffff;
}

.Factive{
    background-color: rgb(31, 191, 31);
    width: fit-content;
    padding: 0 5px;
    border-radius: 2px;
}
.deactive{
    background-color: #ec4f4f;
    width: fit-content;
    padding: 0 5px;
    border-radius: 2px;
}