.userListCon {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  /* background: blue; */
}
.userList {
  flex: 4;
  background: #ffffff;
  text-align: center;
}
.userListUser {
  display: flex;
  align-items: center;
  /* color: lightseagreen; */
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  /* color: green; */
}

.userListDelete {
  /* color: red; */
  cursor: pointer;
}
.userList .pageShift {
  display: flex;
}
.userList .pageShiftButton_Active Button {
  background: linear-gradient(180deg, #2d5f06 2.08%, #05332a 95.83%);
  border-radius: 10px;
  color: white;
  padding: 4px 9px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.userList .pageShiftButton Button {
  background: linear-gradient(180deg, #80b953 2.08%, #2c9984 95.83%);
  border-radius: 10px;
  color: black;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
  /* background-color: rgb(252, 198, 198); */
}
.link {
  text-decoration: none;
  color: inherit;
}

